body{
    overflow-x: hidden;
}
#slider-container{
    max-height: 100vh;
}

#main-slider {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 200vw;
    margin-top: 6rem;
}
#main-slider .slide {
    height: 28vw;
    width: 18rem;
    transition: all 0.5s;
    background-color: #fff;
}

.slide .card-img-top{

}
.slide.card {
    border-radius: 10px;
}
.slide .card-title {
    font-size: 0.9rem;
}
.slide .card-body {
    padding: 0.8rem;
}
.slide img {
    border-radius: 10px 10px 0 0;
    /*filter: grayscale(100%);*/
    transition: all 1s;
}
.slide .card-body p {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    transition: all 1s;
    opacity: 0;
}
.slide.active img {
    filter: none;
}
.slide.active .card-body p {
    opacity: 1;
}

#side-1 {
    z-index: 99;
    transform: translateX(100%) scale(1.5);
}
.slider-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 3rem auto;
}
.slider-btn {
    border-radius: 50px;
    height: 2rem;
    width: 3rem;
    border: 1px solid #6e6e6e;
    font-size: 15px;
    color: #6e6e6e;
    text-align: center;
    line-height: 30px;
    padding-top: 0.1rem;
    margin: 0.5rem;
}
.slider-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #00accd;
    border: none;
}
.slide-indicator-container {
    margin: 6rem auto 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.slide-indicator {
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
    margin: 0.2rem;
    border: 1px solid #6e6e6e;
}
.slide-indicator:hover {
    cursor: pointer;
}
.slide-indicator.active {
    background-color: #00accd;
    border-color: #00accd;
}
.btn-contact {
    background-color: #fff;
    border: 1px solid #b3b3b3;
    border-radius: 50px;
    color: #a5a5a5;
    padding: 0.3rem 0.5rem;
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
    transition: all 1s;
}
.slide.active .btn-contact {
    background-color: #00accd;
    color: #fff;
    border: transparent;
}
.btn-contact:hover,
.slide.active .btn-contact:hover {
    text-decoration: none;
    color: #000;
    background-color: #95d7e4;
    border: transparent;
}







